<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Modes
        {% endblock %}
    </title>
</head>
<body>
<header>
    {% if not auth().checkAuth %}
        <div>
            {% if session().hasFlash('error_login') %}
                <ul>
                    {% for error in session().getFlash('error_login') %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form method="post" action="/login">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Пароль">
            <button>Войти</button>
        </form>
    {% else %}
        <form method="post" action="/logout">
            <button>Выйти</button>
        </form>
    {% endif %}
</header>
<main>
    {% block main %} {% endblock %}
</main>
<footer>
    Подвал
</footer>
</body>
</html>