{% extends 'base.html.twig' %}

{% block title %}
Modes framework : {{ category }}
{% endblock %}

{% block main %}
    <h1>Документация по Modes framework, категория {{ category }}</h1>
    <a href="{{ url }}">Подробнее в телеграм боте</a>
{% endblock %}