{% extends 'base.html.twig' %}

{% block title %}
Modes framework
{% endblock %}

{% block main %}
    <h1>Описание Modes framework</h1>
    <p>Про УТП фреймворка</p>

    <a href="{{ url }}" target="_blank">Телеграм бот помощник в освоении Фреймворка</a>
{% endblock %}