{% extends 'base.html.twig' %}

{% block title %}
    Информация о пользователе {{ user.name }}
{% endblock %}

{% block main %}
    {% for message in session().getFlash('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    <h1> {{ user.name }}</h1>
{% endblock %}